
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.caixa{
    width:100vw;
    background-image: url(/img/fundo.png);
    display: flex;
    flex-direction:column;
    color:#FFF;
    font-size:1.4rem;
    text-decoration:none;
}
.header{
    display:flex;
    align-items: center;
   
   
}
.logo{ 
    height:150px;
}

.menu{
    display:flex;
    justify-content: center;
    gap:10px;
}

a{
    font-size:1.6rem;
    margin-right:10px;
    color: #FFF;
    font-weight:400;
   
}
a:hover{
    color: #FFFFFF;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height:360px;
    width:240px;
    display:flex;
    flex-direction:column;
    gap:5px;
    background:rgba(0, 0, 0, 0.5);
    border: 1px solid #FFF;
    border-radius: 10px;
    text-align: center;
    margin:10px;
    padding: 5px 0;
    
}
h3{
    margin-top:5px;
}

img{
    min-height: 160px;
}

.informacoes ,.formulario , .rodape{
   
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:80%;
    margin: auto;
    margin-bottom: 10px;
    gap:5px;
    margin-top:5px;
    
}

input ,button{
    width:100%;
    font-size: 1.2rem;
    border-radius: 10px;
}

button:hover{
    background-color: #fa8c05;
}
.parte-final{
background-color: rgba(0,0,0,0.8);
    /* background-image: url(/img/sobrenos.png); */
}

@media (max-width: 600px) {
    h1{
        display:none;
    }
    .header{
        justify-content: center;
    }
    a, p{
        font-size: 1.4rem;
    }
}
