
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}

.caixa{
    width:100vw;
    background-image: url(/img/fundo.png);
    display: flex;
    flex-direction:column;
    color:#FFF;
    font-size:1.4rem;
    text-decoration:none;
}
.header{
    display:flex;
    align-items: center;
   
   
}
.logo{ 
    height:150px;
}

.menu{
    display:flex;
    justify-content: center;
}

a{
    font-size:1.6rem;
    margin:10px;
    color: #FFF;
    font-weight:400;
   
}
a:hover{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18,
    0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    height:360px;
    width:240px;
    display:flex;
    flex-direction:column;
    gap:5px;
    background:rgba(0, 0, 0, 0.5);
    border: 1px solid #FFF;
    border-radius: 10px;
    text-align: center;
    margin:10px;
}

.card:hover{
    transform: scale(1.08);
    border-color:#fa8c05;
}

h3{
    margin-top:5px;
}

img{
    min-height: 160px;
}

.informacoes ,.formulario , .rodape{
   
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    width:80%;
    margin: auto;
    margin-bottom: 10px;
    gap:5px;
    margin-top:5px;
    padding: 5px;
    
}

input ,button{
    width:100%;
    font-size: 1.2rem;
    border-radius: 10px;
}

button:hover{
    background-color: #fa8c05;
}
.parte-final{
background-color: rgba(0,0,0,0.8);
}

@media (max-width: 600px) {
    h1{
        display:none;
    }
    .header{
        justify-content: center;
    }
    a{
        font-size: 1.3rem;
    }
    .card p{
        font-size: 1.3rem;
        padding: 5px;

    }
    /* .card:hover{
        transform:scale(1.6);
        z-index:3;
        background-color: #000;
    } */
    
}
