@import url(styles/video.css);
@import url(styles/header.css);
@import url(styles/cards.css);
@import url(styles/sobre.css);
@import url(styles/contato.css);
@import url(styles/rodape.css);
@import url(styles/responsividade.css);



.caixa{
    width:100vw;
    display: flex;
    flex-direction:column;
    color:#FFF;
    font-size:1.4rem;
    text-decoration:none;
    
}


