.header{
    display:flex;
    align-items: center;
   
   
}
.logo{ 
    height:150px;
}

.menu{
    display:flex;
    justify-content: center;
}

a{
    font-size:1.6rem;
    margin:10px;
    color: #FFF;
    font-weight:400;
   
}
a:hover{
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18,
    0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}