.hero {
    background-image: url(/img/fundo.png);
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    transition: background 0.3s;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 1.2rem;
}

.theme-toggle {
    text-align: center;
    margin-top: 20px;
}

.theme-toggle button {
    background: #00aaff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
    font-size: 1rem;
}

.theme-toggle button:hover {
    background: #0077cc;
}