
@media (max-width: 600px) {
    
    h1{
        display:none;
    }
    .header{
        justify-content: center;
    }
    a{
        font-size: 1.3rem;
    }
    .card p{
        font-size: 1.3rem;
        padding: 5px;
    }
    .foreground{
    
        background: linear-gradient(rgba(0, 0, 0,0.3),rgba(12, 12, 12, 0.3)),url(../img/fundo.png);
        height:100vh;
       
       
    }
   .video{
     opacity:0.3;
   }
   
}




