
@media (max-width: 600px) {
    
    h1, video{
        display:none;
    }
    .header{
        justify-content: center;
    }
    a{
        font-size: 1.3rem;
    }
    .card p{
        font-size: 1.3rem;
        padding: 5px;

    }
.caixa{
    background-color: rgb(0, 0, 0 , 0.5) !important;
}
   
}