.themes {
    padding: 50px 20px;
    background: #222;
    /* background-image: url(/img/fundo.png); */
}

.themes h2 {
    text-align: center;
    margin-bottom: 30px;
}

.theme-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.theme-card {
    background-image: url(/img/card2.png);
    border-radius: 10px;
    padding: 20px;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    transition: background 0.3s;
}

.theme-card h3 {
    color: #00aaff;
    margin: 10px 0;
}
